@font-face {
  font-family: myFirstFont;
  src: url("../font/The-Led-Display.ttf");
}
body {
  background-image: url("../images/bkgd-main.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-container {
    width: 80%;
    margin: 0 10%;
    padding: 25px;
    border: 2px solid #dddddd;
    background-color: aliceblue;
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.magic-word {
  font-family: myFirstFont;
  color: #FFFFFF;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 38px rgba(250, 255, 0, 0.54);
}